{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all"]
        },
        "corejs": 3
      }
    ],
    "@babel/react"],
  "plugins": ["@babel/proposal-class-properties"]
}